$white: #fff;
$yellow: #f6911e;
$lightBlue: #1f9bd7;
$lightGrey: #b3b3b3;
$ash: #fafbfd;
$lightPink: #f0f3fb;
$green: #03a900;
$grey: #4d4d4d;
$lightGrey: #b3b3b3;
$blue: #234094;
$btn-pink: #e0e2e7;
$grey2: #dae7f2;
$grey3: #b5c4d7;
$yellow2: #e0e0e0;
$grey5: #263238;
$black: #000000;
$red: #fb0000;
$warning: #ea580c;
$green1: #63d3a6;
$pink2: #0010351f;
$green2: #009688;
$purple: #5e547a;
$yellow3: #e68a2e;
$blue1: #a9bfe9;
$red2: #d83d59;
